body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 15px;
    background: #E1ECC8;
    font-family: "Boogaloo", cursive;
    font-size: 20px;
}

.header {
    background-color: #A0C49D;
    color: #37444c;
    padding: 20px;
    text-align: center;
    font-style: italic;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A0C49D;
    flex-wrap: wrap;
}

.footer {
    background-color: #A0C49D;
    color: #37444c;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-style: italic;
}

.header,
.aside,
.content,
.footer {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.graph-container {
    order: 1;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #E1ECC8;
}

.form-container {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #E1ECC8;
}

.buttons-container {
    order: 4;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper-table {
    margin: 20px;
    order: 3;
    border-radius: 10px;
    max-width: 800px;
    overflow-y: auto;
    max-height: calc(100vh - 500px);
}

#homeButton, #reset {
    margin: 20px;
}
